<div class="navbar slds-grid slds-grid_vertical-align-center">
  <h1 class="app-name slds-col slds-text-heading_medium slds-p-horizontal_medium">Lame Programmer</h1>
  <ngl-icon iconName="utility:apex" class="slds-p-horizontal_medium"></ngl-icon>
</div>
<div class="main-content slds-grid slds-grid_align-center ">
  
<article class="slds-card joke-card slds-m-vertical_medium">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate slds-col">
      <div class="slds-media__figure">
        <ngl-icon iconName="standard:messaging_conversation" class="slds-p-horizontal_medium"></ngl-icon>
      </div>
      <h2 class="slds-card__header-title">Joke</h2>
    </header>
   
  </div>
  <div class="slds-card__body slds-card__body_inner slds-m-top_xx-large" *ngIf="!isLoaded">
    <ngl-spinner size="small" variant="brand" alternativeText="Loading"></ngl-spinner>
  </div>
  <div class="slds-card__body slds-card__body_inner" *ngIf="isLoaded">{{jokes.joke}}</div>
  <div class="slds-card__body slds-card__body_inner refresh-button"  *ngIf="isLoaded">
    <button type="button" nglButton iconName="utility:refresh" (click)="getJokes()">Refresh</button>
  </div>
 
</article>
</div>